// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.followbtn{
  margin-top: 20px;
  display: inline-block;
  .social-btn {
   color: white;
   background-color: 	#B22222;
   text-align: center;
   font-family: Georgia;
   margin-top: 20px;
  }
  a:hover{
    text-decoration: none;
  }
}
